/* apply a natural box layout model to all elements */
* { 
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; }

.main {
  width: 50em;
  margin: 5em auto; }

.sldr-container, .sldr { 
  position: relative;
  margin: 0 auto; }

.sldr li {
  display: none;
  background: orange;
  list-style: none; }

/* you can start to edit from here */
.sldr-next, .sldr-prev { 
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -12.5px;
  width: 25px;
  height: 25px;
  padding-top: 3px;
  background: #bbb;
  color: #fff; 
  -webkit-border-radius:20px;
     -moz-border-radius:20px;
         border-radius:20px;
  text-align: center;
  cursor: pointer; }

.sldr-next:hover, .sldr-prev:hover { background: #ccc; }
.sldr-prev { left: -30px; }
.sldr-next { right: -30px; }

/* custom */

body { font-family: 'Open Sans' sans-serif; }

h1 { 
  margin-top: 0;
  color: #fcbd48;
  font-weight: 800; }

.slide-1 { 
  width: 700px; 
  height: 319px;
  padding: 1em 2em;
  color: #fff;
  background: url('images/blackdiamond2.jpg'); }
